@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 8fr 1fr;
  height: 100vh;
}

.Title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.Navbar {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
}
.Router {
  grid-column: 1/2;
  grid-row: 3/4;
  /* overflow-y: scroll; */
  height: 100%;
}
.Footer {
  border: solid 2px black;
  grid-column: 1/2;
  grid-row: 4/5;
}
.Home {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}
.Articles {
  background-color: #ededed;
  grid-column: 1/2;
  grid-row: 1/2;
  overflow-y: scroll;
  height: 80vh;
}
.ArticleCard {
  color: black;
}
.Sidebar {
  background-color: #ededed;
  grid-column: 2/3;
  grid-row: 1/2;
  overflow-y: scroll;
  height: 80vh;
}
.SingleArticlePage {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}
.Article {
  grid-column: 1/2;
  grid-row: 1/2;
  overflow-y: scroll;
  height: 80vh;
}
.Comments {
  border: solid 1px black;
  grid-column: 2/3;
  grid-row: 1/2;
  overflow-y: scroll;
  height: 80vh;
}

.TopicLink {
  color: white;
}
.ArticlePanel {
  border: solid 1px black;
}
.ArticlePanel:hover {
  transform: scaleY(1.04);
}
#SortBy {
  display: block;
}
