@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 8fr 1fr;
  height: 100vh;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.Title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.Navbar {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
}
.Navbutton {
  width: 1px;
}
.Router {
  grid-column: 1/2;
  grid-row: 3/4;
  height: 100%;
}
.Footer {
  border: solid 2px black;
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: space-between;
}
.Home {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}
.Articles {
  background-color: #ededed;
  grid-column: 1/2;
  grid-row: 1/2;
}

.ArticleCard {
  color: black;
}

.Sidebar {
  background-color: #ededed;
  grid-column: 2/3;
  grid-row: 1/2;

  height: 80vh;
}

.SingleArticlePage {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.Article {
  grid-column: 1/2;
  grid-row: 1/2;

  height: 80vh;
  margin: 5%;
}
.Comments {
  border: solid 1px black;
  grid-column: 2/3;
  grid-row: 1/2;
  overflow-y: scroll;
  height: 93vh;
}

.TopicLink {
  color: white;
}

.ArticlePanel {
  border: solid 1px black;
  margin: 5%;
}

.ArticlePanel:hover {
  transform: scale(1.04);
  transition: 100ms;
}
#SortBy {
  display: block;
  color: black;
  cursor: pointer;
  background-color: #d8d8d8;
  text-align: center;
  max-width: 300px;
  max-height: 30px;
}
#SortBy:hover {
  background-color: #bfbdbd;
}

.SortBySelect {
  display: flex;
  justify-content: center;
}
.commentInput {
  text-align: center;
}

.CommentCard {
  border: solid 1px black;
}

@media only screen and (min-width: 601px) {
  .Articles {
    overflow-y: scroll;
    height: 80vh;
  }
  .Sidebar {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: x-large;
  }

  .SingleArticlePage {
    grid-row: 4;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: auto auto auto; */
  }
  .Article {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    margin: 5%;
  }
  .Comments {
    border: solid 0px;
    grid-column: 1;
    grid-row: 2;
    overflow-y: unset;
    height: auto;
    /* position: relative;
    top: 30%; */
  }

  .Sidebar {
    display: none;
    width: 0px;
  }
  .Articles {
    width: 100%;
  }
  .Home {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr; */
  }
  .ArticlePanel {
    border: solid 1px grey;
    margin: 5%;
  }
  /* .Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border: solid 2px black;
    grid-column: 1; */
  /* background-color: #212121;
    color: white; */
}
